{% load static %}

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'home/styles.css' %}">
  <link rel="stylesheet" href="{% static 'home/media.css' %}">
  <script src="{% static 'home/main.js' %}"></script>
</head>

<center>


  <select id="opcoes" name="opcoes">
    <option value="opcao1">Selecionar</option>
    <option value="opcao2">Opção 2</option>
    <option value="opcao3">Opção 3</option>
    <option value="opcao4">Opção 4</option>
    <option value="opcao5">Opção 5</option>
  </select>
  <input type="submit" value="Buscar" id="button"><br>

</center>
