{% load static %}
<!DOCTYPE html>

<head>
  

  <script src="{% static 'home/main.js' %}"></script>
</head>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pagina inicial</title>
  <link rel="stylesheet" href="{% static 'home/styles.css' %}">
</head>

<body>
  <div class="container">
    <div class="nav">
      <h1>Saude Health | Pagina inicial</h1><br>
    </div>
  <section class="table__body">
    <table>
      <thead>
        <tr>
          <th> Id <span class="icon-arrow">&UpArrow;</span></th>
          <th> Nome <span class="icon-arrow">&UpArrow;</span></th>
          <th> </span></th>
          <th> Ultimo update <span class="icon-arrow">&UpArrow;</span></th>
          <th> Qtde. total <span class="icon-arrow">&UpArrow;</span></th>
          <th> </span></th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 1 </td>
          <td> Saude </td>
          <td></td>
          <td> --- </td>
          <td><strong> --- </strong></td>
          <td>
            <a href="{% url 'health' %}"><p class="">ver</p></a>
          </td>
        </tr>
        <tr>
          <td> 2 </td>
          <td> Doença</td>
          <td></td>
          <td> --- </td>
          <td><strong> --- </strong></td>
          <td>
            <a href="{% url 'doenca' %}"><p class="">ver</p></a>
          </td>

        </tr>
        <tr>
          <td> 3 </td>
          <td> Ervas | Sub.</td>
          <td></td>
          <td> --- </td>
          <td><strong> --- </strong></td>
          <td>
            <a href="{% url 'herbsSubstances' %}"><p class="">ver</p></a>
          </td>
          <tr>
            <td> 4 </td>
            <td> Medicamentos | Farmacêutica</td>
            <td></td>
            <td> --- </td>
            <td><strong> --- </strong></td>
            <td>
              <a href=""><p class="">ver</p></a>
            </td>
        </tr>
      </tbody>
    </table>
  </section>


</body>

</html>