{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html>

<head>
    <title>Listagem de Doenças</title>

    <link rel="stylesheet" href="{% static 'health/styles.css' %}">

</head>


<body>
    <div class="container">
        <div class="nav">

            <br>
            <h1>Doenças Auto-Imune</h1>
        </div>
        <a href="{% url 'add-doenca' %}" class="floating-button">+</a>
        <section class="table__body" style="scale: 0.86;">
            <table>
                <thead>
                    <tr>
                        <th>Id <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Nome comum<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Termo médico<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Descrição<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Causas<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Prevenção<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Diagnóstico/Tratamento <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Medidas Gerais<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Medicamentos<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Dieta<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Prognóstico<span class="icon-arrow">&UpArrow;</span></th>

                        <th></th>
                        <th>Ações</th>
                    </tr>
                    
                </thead>
                <tbody>
                    {% for item in disease_items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nome_comum|truncatechars:60 }}</td>
                        <td>{{ item.termo_medico|truncatechars:60 }}</td>
                        <td>{{ item.descricao|truncatechars:60 }}</td>
                        <td>{{ item.causa|truncatechars:60 }}</td>
                        <td>{{ item.prevencao|truncatechars:60 }}</td>
                        <td>{{ item.sinal_sintoma|truncatechars:60 }}</td>
                        <td>{{ item.fator_risco|truncatechars:60 }}</td>
                        <td>{{ item.diagnostico_tratamento|truncatechars:60 }}</td>
                        <td>{{ item.medidas_gerais|truncatechars:60}}</td>
                        <td>{{ item.medicamentos_gerais|truncatechars:60 }}</td>
                        <td>{{ item.dieta|truncatechars:60 }}</td>
                        <td>
                            <button class="btn btn-primary modal-btn" data-modal-target="#modal-{{ item.id }}"><i
                                    class="bi bi-eye"></i> Detalhes</button>
                            <a href="{% url 'editar-doenca' item.id %}" class="btn btn-primary"><i class="bi bi-pencil"></i>
                                Editar</a>
                            <a href="{% url 'excluir-doenca' item.id %}" class="btn btn-danger btn-excluir"
                                data-item-id="{{ item.id }}"><i class="bi bi-trash"></i> Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </table>
        </section>
        <!-- Paginação -->
        <div class="pagination">
            <span class="step-links">
                {% if saude_items.has_previous %}
                <a href="?page=1">&laquo; Primeira página</a>
                <a href="?page={{ saude_items.previous_page_number }}">voltar</a>
                {% endif %}

                <span class="current">
                    Página {{ saude_items.number }} de {{ saude_items.paginator.num_pages }}.
                </span>

                {% if saude_items.has_next %}
                <a href="?page={{ saude_items.next_page_number }}">Próxima</a>
                <a href="?page={{ saude_items.paginator.num_pages }}">Ultima &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    <!-- Modal -->
    {% for item in saude_items %}
    <div class="modal" id="modal-{{ item.id }}">
        <div class="modal-content">
            <!-- Conteúdo detalhado do item -->
            <h2>{{ item.description }}</h2><br>
            <p><b>Mecanismos de Ação:</b><br> {{ item.action_mechanisms }}</p><br>
            <p><b>Benefícios Potenciais:</b><br> {{ item.potential_benefits }}</p><br>
            <p><b>Efeitos Colaterais/Cuidados:</p></b> {{ item.effects_precautions }}</p><br>
            <p><b>Interações Gênicas:</b><br> {{ item.gene_interactions }}</p><br>
            <p><b>Estudos Científicos / Referências Científicas:</b><br> {{ item.scientific_studies }}</p><br>
            <p><b>Experiência dos Usuários:</b><br>{{ item.user_experience }}</p><br>
            <p><b>FAQ / Perguntas Frequentes:</b><br> {{ item.faq }}</p><br>
        </div>
    </div>
    {% endfor %}

    <!-- Add your JavaScript here to handle the modal functionality -->
    <script>
        const modalBtns = document.querySelectorAll('.modal-btn');
        const modalCloseBtns = document.querySelectorAll('[data-modal-close]');
        const modals = document.querySelectorAll('.modal');

        modalBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                const target = btn.getAttribute('data-modal-target');
                const modal = document.querySelector(target);
                modal.classList.add('open');
            });
        });

        modalCloseBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                const modal = btn.closest('.modal');
                modal.classList.remove('open');
            });
        });

        window.addEventListener('click', e => {
            if (e.target.classList.contains('modal')) {
                e.target.classList.remove('open');
            }
        });
    </script>






    <!-- Modal de Confirmação de Exclusão -->
    <div class="modal" id="modal-excluir">
        <div class="modal-content">
            <h2>Confirmação de Exclusão</h2>
            <p>Você tem certeza que deseja excluir este item?</p>
            <div class="modal-buttons">
                <form method="GET" id="form-excluir">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" id="item_id_input">
                    <button type="submit" class="btn btn-primary btn-confirmar">Sim</button>
                </form>
                <button class="btn btn-secondary btn-cancelar">Cancelar</button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var modal = $('#modal-excluir');
            var btnExcluir = $('.btn-excluir');
            var btnConfirmar = $('.btn-confirmar');
            var btnCancela = $('.btn-cancelar');
            var itemId;

            // Abra o modal quando clicar em um dos links de exclusão
            btnExcluir.click(function (event) {
                event.preventDefault(); // Impede o comportamento padrão de clicar no link
                itemId = $(this).data('item-id');
                console.log(itemId); // Imprime o valor de itemId no console
                modal.modal('show');
                $('#item_id_input').val(itemId); // Armazena o valor do item_id no campo oculto
            });

            // Ação quando o usuário clicar no botão "Sim" no modal de confirmação
            btnConfirmar.click(function () {
                // Realize a ação de exclusão (submeter o formulário de exclusão)
                $('#form-excluir').submit();
            });

            // Ação quando o modal for ocultado
            modal.on('hidden.bs.modal', function () {
                // Atualize a página após um pequeno atraso
                setTimeout(function () {
                    location.reload();
                }, 10);
            });

            // Ação quando o usuário clicar no botão "Cancelar" no modal de confirmação
            btnCancela.click(function () {
                modal.modal('hide');
            });
        });
    </script>


</body>

</html>