{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html>

<head>
    <title>Listagem de Doenças</title>
    <link rel="stylesheet" href="{% static 'disease/styles.css' %}">
    <style>
        .estudos,
        p {
            margin-left: 30px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="nav">
            <a href="{% url 'home' %}" target="" rel="noopener noreferrer"></a>
            <div class="search-container">
                <form id="search-form" action="{% url 'doenca' %}">
                    {% if search_query %}
                    <input type="text" id="search-input" name="search" value="{{ search_query }}">
                    {% else %}
                    <input type="text" id="search-input" name="search" placeholder="Pesquisar...">
                    {% endif %}
                    <button type="submit"><i class="bi bi-search"></i></button>
                    {% if search_query %}
                    <a href="{% url 'doenca' %}" class="" style="margin-right: 10px;">Limpar filtro</a>
                    {% endif %}
                </form>
            </div>
            <br>
            <h1 style="transform: translateX(-45px);">Doenças</h1>
        </div>

        <a href="{% url 'add-doenca' %}" class="floating-button">+</a>
        <section class="table__body" style="scale: 0.86;">
            <table>
                <thead>
                    <tr>
                        <th>Id <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Nome comum<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Termo médico<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Descrição<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Causas<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Prevenção<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Diagnóstico/Trat. <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Medidas Gerais<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Medicamentos<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Dieta<span class="icon-arrow">&UpArrow;</span></th>
                        <th>Prognóstico<span class="icon-arrow">&UpArrow;</span></th>
                        <th style="z-index: 6;">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in disease_items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nome_comum|truncatechars:25 }}</td>
                        <td>{{ item.termo_medico|truncatechars:25 }}</td>
                        <td>{{ item.descricao|truncatechars:25 }}</td>
                        <td>{{ item.causa|truncatechars:25 }}</td>
                        <td>{{ item.prevencao|truncatechars:25 }}</td>
                        <td>{{ item.sinal_sintoma|truncatechars:25 }}</td>
                        <td>{{ item.fator_risco|truncatechars:25 }}</td>
                        <td>{{ item.diagnostico_tratamento|truncatechars:25 }}</td>
                        <td>{{ item.medidas_gerais|truncatechars:25}}</td>
                        <td>{{ item.dieta|truncatechars:25 }}</td>
                        <td>
                            <div style="transform: translateX(30px)">
                                <button class="btn btn-primary modal-btn" style="background-color: rgb(201, 194, 134); color: rgb(53, 46, 46);" data-modal-target="#modal-{{ item.id }}"><i
                                    class="bi bi-eye"></i> Detalhes</button>
                            <button class="btn btn-primary" ><a href="{% url 'editar-doenca' item.id %}"><i
                                        class="bi bi-eye"></i>
                                    Editar</a></button>
                            <a href="{% url 'excluir-doenca' item.id %}"><button class="btn btn-danger btn-excluir"
                                    data-item-id="{{ item.id }}"><i class="bi bi-trash" ></i> Excluir</button></a>
                            </div>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <!-- Paginação -->
        <div class="pagination">
            <span class="step-links">
                {% if disease_items.has_previous %}
                <a href="?page=1">&laquo; Primeira página</a>
                <a href="?page={{ disease_items.previous_page_number }}">voltar</a>
                {% endif %}
                <span class="current">
                    Página {{ disease_items.number }} de {{ disease_items.paginator.num_pages }}.
                </span>
                {% if disease_items.has_next %}
                <a href="?page={{ disease_items.next_page_number }}">Próxima</a>
                <a href="?page={{ disease_items.paginator.num_pages }}">Ultima &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    <!-- Modal -->
    <!-- Modal -->
    {% for item in disease_items %}
    <div class="modal" id="modal-{{ item.id }}">
        <div class="modal-content">
            <!-- Conteúdo detalhado do item -->
            <h2>{{ item.nome_comum }}</h2><br>
            <p><b>Termo Médico:</b><br> {{ item.termo_medico }}</p><br>
            <p><b>Descrição / O que é?</b><br> {{ item.descricao|linebreaksbr }}</p><br>
            <p><b>Causa:</b><br> {{ item.causa|linebreaksbr }}</p><br>
            <p><b>Prevenção:</b><br> {{ item.prevencao|linebreaksbr }}</p><br>
            <p><b>Sinais e Sintomas:</b><br> {{ item.sinal_sintoma|linebreaksbr }}</p><br>
            <p><b>Fator de Risco:</b><br> {{ item.fator_risco|linebreaksbr }}</p><br>
            <p><b>Diagnóstico e Tratamento:</b><br> {{ item.diagnostico_tratamento|linebreaksbr }}</p><br>
            <p><b>Medidas Gerais:</b><br> {{ item.medidas_gerais|linebreaksbr }}</p><br>
            <p><b>Medicamentos Gerais:</b><br> {{ item.medicamentos_gerais|linebreaksbr }}</p><br>
            <p><b>Dieta:</b><br> {{ item.dieta|linebreaksbr }}</p><br>
            <p><b>Prognóstico:</b><br> {{ item.prognostico|linebreaksbr }}</p><br>
            <p><b>Suplemento:</b><br> {{ item.suplemento|linebreaksbr }}</p><br>
            <p><b>FAQ / Perguntas Frequentes:</b><br> {{ item.faq_doenca|linebreaksbr }}</p><br>

            <div id="referencias-{{ item.id }}" class="estudos"><b>Estudos Científicos / Referências
                    Científicas:</b><br><br>
                {{ item.referencia|safe }}</div><br><br>
        </div>
    </div>
    {% endfor %}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const modalBtns = document.querySelectorAll('.modal-btn');
            const modals = document.querySelectorAll('.modal');

            modalBtns.forEach(btn => {
                btn.addEventListener('click', () => {
                    const target = btn.getAttribute('data-modal-target');
                    const modal = document.querySelector(target);
                    modal.classList.add('open');

                    const itemID = btn.getAttribute('data-item-id');
                    convertToLinksAndSeparate(itemID);
                });
            });

            modals.forEach(modal => {
                modal.addEventListener('click', e => {
                    if (e.target.classList.contains('modal')) {
                        modal.classList.remove('open');
                    }
                });
            });
        });

        function convertToLinksAndSeparate(itemID) {
            const paragraph = document.getElementById(`referencias-${itemID}`);
            const content = paragraph.innerHTML; // Use innerHTML para obter o conteúdo corretamente

            // Replace all occurrences of "-" with "<br>"
            const newContent = content.replace(/-/g, '<br>');

            // Replace the content of the paragraph with the modified HTML
            paragraph.innerHTML = newContent;
        }
    </script>





    <!-- Modal de Confirmação de Exclusão -->
    <div class="modal" id="modal-excluir">
        <div class="modal-content">
            <h2>Confirmação de Exclusão</h2>
            <p>Você tem certeza que deseja excluir este item?</p>
            <div class="modal-buttons">
                <form method="GET" id="form-excluir">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" id="item_id_input">
                    <button type="submit" class="btn btn-primary btn-confirmar">Sim</button>
                </form>
                <button class="btn btn-secondary btn-cancelar">Cancelar</button>
            </div>
        </div>
    </div>

</body>

</html>