{% load static %}

<head>
<!-- Adicione os arquivos CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

<!-- Adicione o jQuery (se ainda não estiver sendo utilizado) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Adicione o arquivo JS do Select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .container {
      max-width: 800px;
      margin: 20px auto;
      background-color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    .nav {
      left: 10px;
      color: #0f42ce;
      text-align: center;
      padding: 10px 0;
    }

    .nav h1 {
      margin: 0;
    }

    form {
      max-width: 600px;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    textarea,
    input[type="file"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    #button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
    }

    #classificar {
      background-color: #28a745;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
    }

    h2 {
      margin-bottom: 10px;
    }

    select {
      min-width: 400px;
      min-height: 40px;
    }
  </style>
  <title>Editar | Saude health</title>
</head>

<body>
  <div class="container">
    <div class="nav">
      <h1>Editar | {{medicamento.classe_droga}}</h1><br>
    </div>

    <form method="post" action="{% url 'editar_medicamento' medicamento.id %}" enctype="multipart/form-data">
      <label for="prompt">Importar informação / ChatGPT:</label>
      <br>
      <textarea name="prompt" id="prompt" cols="140" rows="15" placeholder="Cole o texto aqui..."></textarea>
      <br>
      <input type="button" value="Importar" id="classificar">
      <h2>Formulário</h2>
      {% csrf_token %}

      <!-- Princípio Ativo (Dropdown List) -->
      <label for="principio_ativo">Princípio Ativo:</label>
      <select name="principio_ativo" id="principio_ativo" >
        <option value="op1" {% if medicamento.principio_ativo == 'op1' %}selected{% endif %}>op1</option>
        <option value="op2" {% if medicamento.principio_ativo == 'op2' %}selected{% endif %}>op2</option>
        <!-- Adicione as demais opções aqui -->
      </select>
      <br><br>

      <!-- Nome Comercial / Farmacêutica (Dropdown List) -->
      <label for="nome_comercial">Nome Comercial / Farmacêutica:</label>
      <select name="nome_comercial" id="nome_comercial">
        <option value="ACETATO DE ZINCO" {% if medicamento.nome_comercial == 'ACETATO DE ZINCO' %}selected{% endif %}>ACETATO DE ZINCO</option>
        <option value="ACTH E SIMILARES" {% if medicamento.nome_comercial == 'ACTH E SIMILARES' %}selected{% endif %}>ACTH E SIMILARES</option>
        <!-- Adicione as demais opções aqui -->
      </select>
      <br><br>

      <!-- Classe de Droga (Dropdown List) -->
      <label for="classe_droga">Classe de Droga:</label>
      <select name="classe_droga" id="classe_droga">
        <option value="4-DIMETILAMINOFENOL" {% if medicamento.classe_droga == '4-DIMETILAMINOFENOL' %}selected{% endif %}>4-DIMETILAMINOFENOL</option>
        <option value="ABACATE E AZEITE DE SEMENTE DE SOJA INSAPONIFICÁVEIS" {% if medicamento.classe_droga == 'ABACATE E AZEITE DE SEMENTE DE SOJA INSAPONIFICÁVEIS' %}selected{% endif %}>ABACATE E AZEITE DE SEMENTE DE SOJA INSAPONIFICÁVEIS</option>
        <option value="ABACAVIR" {% if medicamento.classe_droga == 'ABACAVIR' %}selected{% endif %}>ABACAVIR</option>
        <option value="ABARELIX" {% if medicamento.classe_droga == 'ABARELIX' %}selected{% endif %}>ABARELIX</option>
        <option value="ABATACEPTE" {% if medicamento.classe_droga == 'ABATACEPTE' %}selected{% endif %}>ABATACEPTE</option>
        <option value="ABÉTIMO" {% if medicamento.classe_droga == 'ABÉTIMO' %}selected{% endif %}>ABÉTIMO</option>
        <option value="ACAMPROSATO" {% if medicamento.classe_droga == 'ACAMPROSATO' %}selected{% endif %}>ACAMPROSATO</option>
        <option value="ACEBUTOLOL" {% if medicamento.classe_droga == 'ACEBUTOLOL' %}selected{% endif %}>ACEBUTOLOL</option>
        <option value="ACETATO DE ZINCO" {% if medicamento.classe_droga == 'ACETATO DE ZINCO' %}selected{% endif %}>ACETATO DE ZINCO</option>
        <option value="ACTH E SIMILARES" {% if medicamento.classe_droga == 'ACTH E SIMILARES' %}selected{% endif %}>ACTH E SIMILARES</option>
        <option value="ADALIMUMABE" {% if medicamento.classe_droga == 'ADALIMUMABE' %}selected{% endif %}>ADALIMUMABE</option>
        <option value="ADRENÉRGICOS, PARA INALAÇÃO" {% if medicamento.classe_droga == 'ADRENÉRGICOS, PARA INALAÇÃO' %}selected{% endif %}>ADRENÉRGICOS, PARA INALAÇÃO</option>
        <option value="ADSORVENTES E ANTIFISETICOS INTESTINAIS SIMPLES" {% if medicamento.classe_droga == 'ADSORVENTES E ANTIFISETICOS INTESTINAIS SIMPLES' %}selected{% endif %}>ADSORVENTES E ANTIFISETICOS INTESTINAIS SIMPLES</option>
        <option value="ADSTRINGENTE E EMOLIENTE" {% if medicamento.classe_droga == 'ADSTRINGENTE E EMOLIENTE' %}selected{% endif %}>ADSTRINGENTE E EMOLIENTE</option>
        <option value="AGENTE IMUNOSUPRESSOR" {% if medicamento.classe_droga == 'AGENTE IMUNOSUPRESSOR' %}selected{% endif %}>AGENTE IMUNOSUPRESSOR</option>
        <option value="AGENTE PARALISANTE NEUROMUSCULAR" {% if medicamento.classe_droga == 'AGENTE PARALISANTE NEUROMUSCULAR' %}selected{% endif %}>AGENTE PARALISANTE NEUROMUSCULAR</option>
        <option value="AGENTE QUELANTE DE FERRO" {% if medicamento.classe_droga == 'AGENTE QUELANTE DE FERRO' %}selected{% endif %}>AGENTE QUELANTE DE FERRO</option>
        <option value="AGENTES ADRENÉRGICOS E DOPAMINÉRGICOS" {% if medicamento.classe_droga == 'AGENTES ADRENÉRGICOS E DOPAMINÉRGICOS' %}selected{% endif %}>AGENTES ADRENÉRGICOS E DOPAMINÉRGICOS</option>

      </select>
      
      <br><br>
      <script>
        $(document).ready(function() {
          // Inicialize o Select2
          $('#classe_droga').select2();
          $('#nome_comercial').select2();
          $('#principio_ativo').select2();
        });
      </script>
      
      <!-- Campos restantes -->
      <label for="nome_cientifico">Nome Científico:</label>
      <br>
      <textarea name="nome_cientifico" id="nome_cientifico" cols="140" rows="3"
        placeholder="Adicionar nome científico...">{{medicamento.principio_ativo}}</textarea>
      <br>
      <label for="descricao">Descrição:</label>
      <br>
      <textarea name="descricao" id="descricao" cols="140" rows="3" placeholder="Adicionar descrição..."></textarea>
      <br>
      <label for="composicao_quimica">Composição Química:</label>
      <br>
      <textarea name="composicao_quimica" id="composicao_quimica" cols="140" rows="3"
        placeholder="Adicionar composição química..."></textarea>
      <br>
      <label for="usos_caracteristicas">Usos / Características Benéficas / Indicações:</label>
      <br>
      <textarea name="usos_caracteristicas" id="usos_caracteristicas" cols="140" rows="3"
        placeholder="Adicionar usos e características..."></textarea>
      <br>
      <label for="contra_indicacoes">Contra Indicações e Reações Adversas:</label>
      <br>
      <textarea name="contra_indicacoes" id="contra_indicacoes" cols="140" rows="3"
        placeholder="Adicionar contra indicações e reações adversas..."></textarea>
      <br>
      <label for="doencas_correlacionadas">Doenças/Situações correlacionadas:</label>
      <br>
      <textarea name="doencas_correlacionadas" id="doencas_correlacionadas" cols="140" rows="3"
        placeholder="Adicionar doenças/situações correlacionadas..."></textarea>
      <br>
      <label for="faq">FAQ / Perguntas Frequentes:</label>
      <br>
      <textarea name="faq" id="faq" cols="140" rows="15"
        placeholder="Adicionar faq, perguntas frequentes..."></textarea>
      <br>

      <label for="upload">Upload Bula:</label>
      <br>
      <input type="file" name="upload" id="upload">
      <br>
      <input type="submit" value="Enviar" id="button">
    </form>

</body>