{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html>

<head>
    <title>Listagem de Ervas | Substâncias</title>
    <link rel="stylesheet" href="{% static 'herbs/styles.css' %}">
    <style>
        .estudos,
        p {
            margin-left: 30px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="nav">
            <br>
            <h1>Herbs Substances</h1>
        </div>
        <a href="{% url 'add-herbsSubstances' %}" class="floating-button">+</a>
        <section class="table__body" style="scale: 0.86;">
            <table>
                <thead>
                    <tr>
                        <th>Id <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Name <span class="icon-arrow">&uparrow;</span></th>
                        <th>Breve resumo <span class="icon-arrow">&UpArrow;</span></th>
                        <th>O que é? <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Principais Benefícios <span class="icon-arrow">&UpArrow;</span></th>
                        <th>potencialmente boa para o que? <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Doenças relacionadas <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Desvantagens/cuidados <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Como funciona? <span class="icon-arrow">&UpArrow;</span></th>
                        <th>Dosagem, informações <span class="icon-arrow">&UpArrow;</span></th>
                        <th>FAQ</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in herbsSubstances_items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name|truncatechars:50 }}</td>
                        <td>{{ item.resumo|truncatechars:50 }}</td>
                        <td>{{ item.oque_e|truncatechars:50 }}</td>
                        <td>{{ item.beneficios|truncatechars:50 }}</td>
                        <td>{{ item.boa_para_que|truncatechars:50 }}</td>
                        <td>{{ item.doencas_relacionada|truncatechars:50 }}</td>
                        <td>{{ item.como_funciona|truncatechars:50 }}</td>
                        <td>{{ item.desvantagens_cuidados|truncatechars:50 }}</td>
                        <td>{{ item.dosagem|truncatechars:50 }}</td>
                        <td>{{ item.faq|truncatechars:50 }}</td>
                        <td>
                            <div style="transform: translateX(30px) ;"> <button class="btn btn-primary modal-btn"
                                    data-modal-target="#modal-{{ item.id }}"><i class="bi bi-eye"></i> Detalhes</button>
                                <a href="{% url 'editar-herbsSubstances' item.id %}"><button
                                        class="btn btn-primary btn-excluir" data-item-id="{{ item.id }}"><i
                                            class="bi bi-trash"></i> Editar</button></a>
                                <a href="{% url 'excluir-herbsSubstances' item.id %}"><button
                                        class="btn btn-danger btn-excluir" data-item-id="{{ item.id }}"><i
                                            class="bi bi-trash"></i> Excluir</button></a>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <!-- Paginação -->
        <div class="pagination">
            <span class="step-links">
                {% if herbsSubstances_items.has_previous %}
                <a href="?page=1">&laquo; Primeira página</a>
                <a href="?page={{ herbsSubstances_items.previous_page_number }}">voltar</a>
                {% endif %}

                <span class="current">
                    Página {{ herbsSubstances_items.number }} de {{ herbsSubstances_items.paginator.num_pages }}.
                </span>

                {% if herbsSubstances_items.has_next %}
                <a href="?page={{ herbsSubstances_items.next_page_number }}">Próxima</a>
                <a href="?page={{ herbsSubstances_items.paginator.num_pages }}">Ultima &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>

    {% for item in herbsSubstances_items %}
    <div class="modal" id="modal-{{ item.id }}">
        <div class="modal-content">
            <!-- Conteúdo detalhado do item -->
            <h2>{{ item.name }}</h2><br><br>
            <p><b>Breve resumo:</b><br>{{ item.resumo|linebreaksbr }}</p><br><br>
            <p><b>O que é?</b><br>{{ item.oque_e|linebreaksbr }}</p><br><br>
            <p><b>Principais Benefícios:</b><br>{{ item.beneficios|linebreaksbr }}</p><br><br>
            <p><b>Potencialmente boa para o que?</b><br>{{ item.boa_para_que|linebreaksbr }}</p><br><br>
            <p><b>Doenças relacionadas:</b><br>{{ item.doencas_relacionada|linebreaksbr }}</p><br><br>
            <p><b>Desvantagens/cuidados:</b><br>{{ item.desvantagens_cuidados|linebreaksbr }}</p><br><br>
            <p><b>Como funciona?</b><br>{{ item.como_funciona|linebreaksbr }}</p><br><br>
            <p><b>Dosagem, informações:</b><br>{{ item.dosagem|linebreaksbr }}</p><br><br>
            <p><b>FAQ:</b><br>{{ item.faq|linebreaksbr }}</p><br><br>
            <div id="estudos-cientificos-{{ item.id }}" class="estudos"><b>Estudos Científicos / Referências
                    Científicas:</b><br><br>
                {{ item.estudos|safe }}</div><br><br>
        </div>
    </div>
    {% endfor %}



    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const modalBtns = document.querySelectorAll('.modal-btn');
            const modals = document.querySelectorAll('.modal');

            modalBtns.forEach(btn => {
                btn.addEventListener('click', () => {
                    const target = btn.getAttribute('data-modal-target');
                    const modal = document.querySelector(target);
                    modal.classList.add('open');

                    const itemID = btn.getAttribute('data-item-id');
                    convertToLinks(itemID);
                });
            });

            modals.forEach(modal => {
                modal.addEventListener('click', e => {
                    if (e.target.classList.contains('modal')) {
                        modal.classList.remove('open');
                    }
                });
            });
        });

        function convertToLinks(itemID) {
            const paragraph = document.getElementById(`estudos-cientificos-${itemID}`);
            const content = paragraph.innerHTML; // Use innerHTML para obter os links corretamente

            // Create a temporary element to parse the content as HTML
            const tempElement = document.createElement('div');
            tempElement.innerHTML = content;

            // Get all the links in the content
            const links = tempElement.getElementsByTagName('a');

            // Create a new HTML content to replace the existing one
            let newContent = '';

            // Iterate through the links and add each link to the new content
            for (const link of links) {
                newContent += `<a href="${link.href}" target="_blank">${link.innerText}</a><br>`;
            }

            // Replace the content of the paragraph with the modified HTML
            paragraph.innerHTML = newContent;
        }
    </script>


</body>

</html>